.git
.github
.idea
.nova
.phpunit.cache
.vscode
.zed

.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot
public/storage
public/uploads

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

.phpunit.result.cache
composer-setup.php
composer.phar
first())
npm-debug.log
yarn-error.log
tmp
*.zip
